@use "@styles/func";
@use "@styles/mixins" as *;
@use "@styles/variables";

.root {
	position: relative;
  width: 100%;
  height: 3820px;

	.slider {
		width: 100%;
		height: 100%;
		position: relative;

		.first {
			z-index: 5;

			position: absolute;
			width: 100%;
			height: 100%;

			top: 0;
			left: 0;

      background-color: var(--color-background);

      display: flex;
      flex-direction: column;
      align-items: center;
		}

		.second {
			z-index: 4;

			position: absolute;
			width: 100%;
			height: 100%;

			top: 0;
			left: 100%;

      background-color: black;

      display: flex;
      flex-direction: column;
      align-items: center;
		}
	}

	.navigation {
		position: sticky;
    z-index: 6;

    left: 0px;
    top: 150px;

    &_container {
      position: absolute;

      display: flex;
      flex-direction: column;

      top: 0;
      left: 5px;

      display: flex;
      box-shadow: 6px -5px 0 var(--color-accent-2);

      transition: all 0.3s ease;


      button {
        font-size: 20px;

        padding: 20px;
        background-color: var(--color-accent-1);
        color: white;
        font-weight: 500;
        transition: all 0.3s ease;
      }
    }


    .secondSlide {
      box-shadow: 6px -5px 0 var(--color-accent-2);

      button {
        background-color: var(--color-accent-1);
        color: white;
      }
    }

    .firstSlide {
      box-shadow: 6px -5px 0 var(--color-accent-1);

      button {
        background-color: var(--color-accent-2);
        color: black;
      }
    }
	}
}
