@use "@styles/func";
@use "@styles/mixins" as *;
@use "@styles/variables";

.root {
	position: relative;
  width: 100%;
  overflow: visible;

	.slider {
		width: 100%;
		height: 100%;
		position: relative;

		// section wrapper
		.section {
			display: block;
			opacity: 1;
			overflow-x: visible;
			overflow-y: visible;
			will-change: opacity;
			transition: opacity 0.01s; // Fallback for smoother transitions
		}

		.sectionOpen {
			opacity: 1;
		}

		.sectionInner {
			overflow-x: hidden;
			overflow-y: hidden;
      display: flex;
			flex-direction: column;
			min-width: 0;
			width: 100%;
		}

		.first {
			z-index: 5;
			width: 100%;
			height: 100%;

      background-color: var(--color-background);

      display: flex;
      flex-direction: column;
      align-items: center;
		}

		.second {
			z-index: 4;
			width: 100%;
			height: 100%;

      background-color: black;

      display: flex;
      flex-direction: column;
      align-items: center;
		}
	}

	.navigation {
		position: sticky;
    z-index: 6;

    width: 100%;
    height: 80px;
    top: 0;
    overflow: visible;

    @include tablet {
      height: 60px;
    }

    &_container {
      display: flex;

      transition: all 0.3s ease;

      height: 100%;

      button {
        font-size: 20px;

        width: 100%;

        padding: 20px;
        background-color: #FFFFFF30;
        backdrop-filter: blur(4px);
        color: white;
        font-weight: 500;
        transition: all 0.3s ease;

        border: 1px solid black;

        color: black;

        @include tablet {
          padding: 12px;
        }

        &:hover {
          color: white;
          background-color: var(--color-accent-1);
        }

        &.active {
          background-color: var(--color-accent-2);
          color: black;
          font-weight: 700;
        }
      }
    }
	}
}
