@use "@styles/func";
@use "@styles/mixins" as *;
@use "@styles/variables";

.root {
	position: relative;
  width: 100%;
  height: 100vh;

	.slider {
		width: 100%;
		height: 100%;
		position: relative;

		.first {
			z-index: 5;

			position: absolute;
			width: 100%;
			height: 100%;

			top: 0;
			left: 0;

      background-color: gray;

      border-right: 3px solid black;
		}

		.second {
			z-index: 4;

			position: absolute;
			width: 100%;
			height: 100%;

			top: 0;
			left: 100%;

      background-color: white;
		}
	}

	.navigation {
		position: sticky;
    z-index: 6;

    left: 0;
    top: 100px;

    &_container {
      position: absolute;

      top: 100px;

      display: flex;
      gap: 30px;

      button {
        font-size: 20px;
      }
    }
	}
}
