@use "@styles/func";
@use "@styles/mixins";
@use "@styles/variables";

.root {
	display: flex;

	button {
		width: 100%;
		border-color: black;
		color: white;
		text-transform: uppercase;
		font-size: 36px;
		padding: 40px;
	}
}
