@use "@styles/func";
@use "@styles/mixins";
@use "@styles/variables";

.root {
	position: relative;
	width: 100%;
	min-height: 100vh;

	&.noMinHeight {
		min-height: auto;
	}
}

.pin {
	position: relative;
}

.grid {
	position: absolute;
	inset: 0;
	pointer-events: none;
	z-index: 0;
}

.cell {
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
}

.cellFill {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: color-mix(in srgb, var(--color-blue) 25%, transparent);
	border: 1px solid color-mix(in srgb, var(--color-blue) 40%, var(--color-accent-1) 30%, var(--color-white-default) 30%);
	box-sizing: border-box;
}

.diagonalSvg {
	position: absolute;
	inset: 0;
	pointer-events: none;
	z-index: 0;
	width: 100%;
	height: 100%;
}

.diagonalLine {
	opacity: 0.2;
}

.cross {
	transform-origin: 50% 50%;
	transform-box: fill-box;
}

.content {
	position: relative;
	z-index: 1;
}
