@use "@styles/func";
@use "@styles/mixins" as *;
@use "@styles/variables";

.root {
	display: flex;
	flex-direction: column;
	gap: 20px;

	.item {
		display: flex;
		gap: 10px;

		svg {
			width: 30px;
			height: 30px;

			@include tablet {
				width: 25px;
				height: 25px;
			}
		}

		&_text {
			display: flex;
			align-items: center;
			font-size: 16px;

			@include tablet {
				font-size: 12px;
			}
		}
	}
}
