@use '@styles/func';
@use '@styles/variables';
@use '@styles/mixins';

.root {
  @include mixins.reset-btn;
  z-index: 5;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  color: var(--color-accent-2);
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  white-space: nowrap;
  flex-flow: column;
  justify-content: center;
  align-items: stretch;
  height: auto;
  transition: all .45s;
  display: flex;
  position: relative;
  overflow: clip;

  .left {
    z-index: 5;
    border: 2px solid white;
    background-color: white;
    justify-content: center;
    align-items: center;
    min-height: 3rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    display: flex;
    position: relative;
    overflow: clip;

    .clip_intro {
      z-index: 10;
      flex-flow: column;
      display: flex;
      position: relative;
      overflow: clip;

      .button_banner {
        transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg);
        transform-style: preserve-3d;

        .button_text {
          line-height: 1;
        }

        .button_text_color {
          line-height: 1;
          color: white;
        }
      }
    }

    .button_cover {
      background-color: red;
      width: 100%;
      height: 100%;
      display: none;
      position: absolute;
      inset: 0% auto 0% 0%;

      display: none;
    transform: translate3d(-110%, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg);
    transform-style: preserve-3d;
    }
  }
}
