@use "@styles/func";
@use "@styles/mixins";
@use "@styles/variables";

.root {
	display: flex;

	justify-content: space-between;

	gap: 60px;

	padding: 80px;

	position: relative;
	width: 100%;

	.container {
		position: relative;
		left: 0;

		display: flex;
		flex-direction: column;
		gap: 60px;

		.title {
			font-family: var(--font-unbounded);
			font-size: 32px;
			line-height: 1.4;
			text-transform: uppercase;


			display: flex;
			flex-direction: column;

			margin-bottom: 30px;

			span:last-child {
				font-size: 64px;
			}
		}

		.bg_image {
			background: center no-repeat url('/images/background-3.jpg');

			.image,
			.image2 {
				transition: scale 0.3s ease-in-out, transform 0.3s ease-in-out;

				transform: translate(-25%, -25%);
			}

			.image2 {
				transform: translate(25%, 25%);
			}

			&:hover {
				.image {
					scale: 1.1;
					transform: translateX(-25%);
				}

				.image2 {
					scale: 1.1;
					transform: translateX(25%);
				}
			}
		}
	}

	.list {
		display: flex;
		flex-wrap: wrap;
		padding: 20px;

		max-width: 950px;

		.item {
			padding: 15px 30px;
			background-color: var(--color-accent-1);
			border: 1px solid black;
			color: white;
			font-weight: 500;

			transition: scale 0.3s ease-in-out, rotate 0.3s ease-in-out;

			max-width: 450px;
			width: 100%;

			// Начальное состояние для анимации (будет переопределено GSAP)
			opacity: 0;

			// Разные углы поворота для разных элементов, как в WhatIs
			&:nth-child(3n + 1) {
				rotate: -3deg;
			}

			&:nth-child(3n + 2) {
				rotate: 4deg;
			}

			&:nth-child(3n) {
				rotate: -2deg;
			}

			@include mixins.desktop-only {
				&:hover {
					scale: 1.1;

					&:nth-child(3n + 1) {
						rotate: -8deg;
					}

					&:nth-child(3n + 2) {
						rotate: 8deg;
					}

					&:nth-child(3n) {
						rotate: -6deg;
					}
				}
			}

			.number {
				font-family: var(--font-unbounded);
				font-size: 18px;
				line-height: 1.4;
			}

			.text {
				font-weight: 500;
				font-size: 16px;
				line-height: 1.5;
			}
		}
	}
}


.right {
	justify-content: flex-start;

	.container {
		right: 0;
		left: auto;

		.title {
			color: white;
		}
	}

	.list {
		.item {
			background-color: var(--color-accent-1);
			color: white;

			@include mixins.desktop-only {
				&:hover {
					scale: 1.1;

					&:nth-child(3n + 1) {
						rotate: -8deg;
					}

					&:nth-child(3n + 2) {
						rotate: 8deg;
					}

					&:nth-child(3n) {
						rotate: -6deg;
					}
				}
			}
		}
	}
}
