@use "@styles/func";
@use "@styles/mixins" as *;
@use "@styles/variables";

.root {
	position: relative;

	font-family: var(--font-involve);
	z-index: 7;

	.spacer {
		opacity: 0;

		&_desktop {
			height: 30vh;
		}
	}

	.bg_image {
		background: top no-repeat url('../../../public/images/background.jpg');
		// background-size: cover;
		// filter: grayscale(100%);
		background-size: cover;

		position: absolute;
		top: 0;
		left: 0;

		width: 100%;
		height: 100%;

		z-index: 1;
	}

	.container {
		background-image: linear-gradient(180deg,#2562ff00,var(--color-accent-1)35%);
		height: 100%;

		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-end;

		padding: 0 40px 40px;

		height: 70vh;

		gap: 16px;

		position: relative;
		z-index: 2;

		.title {
			display: flex;
			align-self: flex-end;

			width: 100%;

			margin-top: 100px;

			font-family: var(--font-unbounded);

			&_text {
				font-size: 100px;
				line-height: 1.4;
				font-weight: 600;
				text-transform: uppercase;

				width: 100%;

				color: white;

				text-align: left;
			}
		}

		.description {
			display: flex;
			justify-content: space-between;

			align-self: flex-start;

			width: 100%;

			&_text {
				display: block;

				align-self: flex-start;

				.subtitle {
					color: white;
					font-size: 32px;
					line-height: 1.2;

					max-width: 1200px;
				}

				.microtext {
					font-size: 14px;
					color: white;
					line-height: 1.4;
				}

				.option {
					font-size: 18px;
					line-height: 1.4;
					color: white;
				}
			}
		}
	}
}

.lines {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.row {
	display: block;
}

.buttons {
	display: flex;
	gap: 20px;

	button {
		border: 1px solid white;
  	color: white;
		background-color: var(--color-accent-3);

		&::before {
			background-color: black;
		}
	}

	button:last-child {
		border: 1px solid black;
  	color: black;
		background-color: transparent;

		&::before {
			background-color: var(--color-accent-2);
		}

		&:hover {
			border: 1px solid white;
			color: white;
		}
	}
}
