@use "@styles/func";
@use "@styles/mixins" as *;
@use "@styles/variables";

.root {
	position: relative;

	font-family: var(--font-involve);

	.spacer {
		opacity: 0;

		&_desktop {
			height: 30rem;
		}
	}

	.bg_image {
		background: center no-repeat url('../../../public/images/black.avif');
		// background-size: cover;
		// filter: grayscale(100%);

		position: absolute;
		top: 0;
		left: 0;

		width: 100%;
		height: 100%;

		z-index: 1;
	}

	.container {
		background-image: linear-gradient(180deg,#2562ff00,var(--color-accent-1)35%);
		height: 100%;

		display: flex;
		flex-direction: column;
		align-items: center;

		padding: 0 40px 40px;

		gap: 100px;

		position: relative;
		z-index: 2;

		.title {
			display: flex;
			align-self: flex-end;

			width: 100%;

			margin-top: 100px;

			font-family: var(--font-unbounded);

			&_text {
				font-size: 100px;
				line-height: 1.4;
				font-weight: 600;
				text-transform: uppercase;

				width: 100%;

				display: flex;
				flex-direction: column;

				justify-content: center;

				color: white;

				span:first-child {
					text-align: center;
					align-items: center;
				}

				span:last-child {
					text-align: end;
					align-items: flex-end;
					font-size: 65px;
				}
			}
		}

		.description {
			display: flex;
			justify-content: space-between;

			align-self: flex-start;

			width: 100%;

			&_text {
				display: flex;
				flex-direction: column;
				gap: 30px;

				align-self: flex-start;

				.subtitle {
					color: white;
					font-size: 32px;
					line-height: 1.2;

					max-width: 1200px;
				}

				.microtext {
					font-size: 14px;
					color: white;
					line-height: 1.4;
				}

				.option {
					font-size: 18px;
					line-height: 1.4;
					color: white;
				}
			}
		}
	}
}
