@use "@styles/func";
@use "@styles/mixins";
@use "@styles/variables";

.root {
	background-color: black;

	padding: 60px;

	display: flex;
	justify-content: space-between;

	.main {
		&_title {
			color: white;
			font-size: 56px;
			font-family: var(--font-unbounded);
			text-transform: uppercase;
		}
	}

	.container {
		position: relative;


		.list {
			display: flex;
			flex-direction: column;
			gap: 60px;

			.item {
				position: relative;
				display: flex;
				flex-direction: column;
				gap: 30px;

				// пунктирная линия от текущего шага к следующему
				&:not(:last-child)::after {
					content: "";
					position: absolute;
					left: 15px; // центр блока шагов (30px / 2)
					top: 30px; // от нижней границы шага
					width: 2px;
					height: calc(100% + 60px - 30px); // высота элемента + gap (60px) - высота шага
					background-image: repeating-linear-gradient(
						180deg,
						var(--color-accent-4) 0 8px,
						transparent 8px 16px
					);
				}

				&_container {
					display: flex;

					gap: 40px;

					align-items: center;
				}

				&_step {
					font-size: 24px;
					font-weight: 700;
					line-height: 140%;
					color: white;

					position: relative;
					z-index: 2;

					width: 30px;
					height: 30px;

					text-align: center;

					background-color: var(--color-accent-4);

					font-family: var(--font-unbounded);
					text-transform: uppercase;
				}

				&_title {
					font-size: 32px;
					font-weight: 600;
					line-height: 150%;
					color: white;
					margin-left: 1px;
				}

				&_description {
					color: white;
					font-size: 18px;
					line-height: 150%;
					margin-left: 70px;
				}
			}
		}

		.shadow {
			z-index: 3;
			background-image: linear-gradient(180deg,#0000,black 50%);
			pointer-events: none;
			height: 50svh;
			display: flex;
			position: sticky;
			inset: auto 0% 0%;
		}
	}
}
