@use "@styles/func";
@use "@styles/mixins";
@use "@styles/variables";

.root {
	margin-top: 200px;
	position: relative;

	background-color: black;

	.list {
		display: flex;
		flex-direction: column;
		gap: 60px;

		.item {
			display: flex;
			flex-direction: column;
			gap: 50px;

			&_step {
				font-size: 64px;
				font-weight: 700;
				color: white;
			}

			&_title {
				font-size: 32px;
				font-weight: 600;
				color: white;
			}
		}
	}

	.shadow {
		z-index: 3;
		background-image: linear-gradient(180deg,#0000,black 50%);
		pointer-events: none;
		height: 50svh;
		display: flex;
		position: sticky;
		inset: auto 0% 0%;
	}
}
