@use '@styles/func';
@use '@styles/mixins' as *;

.root {
  display: block;
  line-height: 0;

  svg {
    width: func.rem(110);
    height: func.rem(48);

    @include tablet {
      width: 40px;
      height: 40px;
    }
  }
}
