@use "@styles/func";
@use "@styles/mixins";
@use "@styles/variables";

.root {
	display: flex;
	flex-direction: column;
	gap: 60px;
	padding: 80px;

	width: 100%;

	.title {
		font-size: 64px;
		font-family: var(--font-unbounded);
		text-transform: uppercase;
		line-height: 1.4;
	}

	.container {
		display: flex;
		justify-content: center;

		width: 100%;

		.list {
			display: flex;
			flex-direction: column;
			gap: 20px;

			width: 600px;
			height: 400px;

			background-color: black;
			color: white;

			padding: 40px 20px;

			transition: rotate 0.3s ease-in-out, scale 0.3s ease-in-out;

			&:hover {
				rotate: 5deg;
				scale: 1.05;
			}

			&:first-child {
				background-color: var(--color-accent-1);
			}

			&:nth-child(2) {
				background-color: white;
				color: var(--color-accent-1);
				border: 3px solid var(--color-accent-1);

				.list_text {
					color: black;
				}
			}

			&:last-child {
				background-color: black;
  			border: 3px solid white;
			}

			&_title {
				font-size: 28px;
				font-family: var(--font-unbounded);
				text-transform: uppercase;
				line-height: 1.4;

				text-align: center;
			}

			&_text {
				font-size: 20px;
				line-height: 1.5;
				font-weight: 500;
			}
		}
	}
}

.othercolor {
	.title {
		color: white;

		text-align: end;
	}

	.container {
		align-items: flex-end;

		.list {
			background-color: white;
			color: black;
		}

		.list:nth-child(2) {
			align-self: flex-start;
			text-align: start;

			&:hover {
				rotate: -5deg;
			}
		}
	}
}
