@use '@styles/func';
@use '@styles/mixins' as *;
@use '@styles/variables';

.container {
	display: flex;

	.menu {
		display: flex;

		@include tablet {
			position: fixed;
			top: 100px;
			left: 0;
			right: 0;
			z-index: 99;

			width: 100%;

			flex-direction: column;

			&.menu_closed {
				pointer-events: none;
				visibility: hidden;
				opacity: 0;
			}
		}

		&_item {
			display: flex;
			align-items: center;

			padding: 30px 25px;

			opacity: 0;

			background-color: var(--color-background);
			color: var(--color-black-default);
			font-size: 20px;

			transition: background 0.3s ease, color 0.3s ease;

			cursor: pointer;

			@include desktop {
				font-size: 16px;
				padding: 20px 15px;
			}

			@include tablet {
				justify-content: center;
			}

			&:hover {
				background-color: var(--color-accent-1);
				color: var(--color-white-default);
			}

			a:hover {
				opacity: 1;
			}

			// Override colors for fulfillment page
			body[data-page-theme="fulfillment"] & {
				--color-background: var(--fulfillment-color-background);
				--color-accent-1: var(--fulfillment-color-accent-1);
				--color-accent-2: var(--fulfillment-color-accent-2);
			}

			// Override colors for logistika page
			body[data-page-theme="logistika"] & {
				--color-background: var(--logistika-color-background);
				--color-accent-1: var(--logistika-color-accent-1);
				--color-accent-2: var(--logistika-color-accent-2);
			}
		}

		.social {
			display: none;

			@include tablet {
				display: flex;
			}
		}

		&_item_active {
			background-color: var(--color-accent-2);

			// Override colors for fulfillment page
			body[data-page-theme="fulfillment"] & {
				--color-accent-2: var(--fulfillment-color-accent-2);
			}

			// Override colors for logistika page
			body[data-page-theme="logistika"] & {
				--color-accent-2: var(--logistika-color-accent-2);
			}
		}
	}

	&_icon {
		position: relative;
		z-index: 100;

		padding: 25px;
		background-color: var(--color-background);
		transition: background 0.3s ease;

		cursor: pointer;

		@include desktop {
			font-size: 16px;
			padding: 15px;
		}

		&:hover {
			background-color: var(--color-accent-1);

			svg {
				g {
					line {
						stroke: var(--color-white-default);
					}
				}

				rect {
					fill: var(--color-white-default);
				}

				line {
					stroke: var(--color-white-default);
				}
			}
		}

		// Override colors for fulfillment page
		body[data-page-theme="fulfillment"] & {
			--color-background: var(--fulfillment-color-background);
			--color-accent-1: var(--fulfillment-color-accent-1);
		}

		// Override colors for logistika page
		body[data-page-theme="logistika"] & {
			--color-background: var(--logistika-color-background);
			--color-accent-1: var(--logistika-color-accent-1);
		}

		svg {
			width: 30px;
			height: 30px;

			g {
				line {
					transition: stroke 0.3s ease;
				}
			}

			rect {
				transition: stroke 0.3s ease;
			}

			line {
				transition: stroke 0.3s ease;
			}
		}
	}
}
