@use "@styles/func";
@use "@styles/mixins";
@use "@styles/variables";

.root {
	height: 100vh;
	width: 100vw;
	scroll-snap-align: start;
	scroll-snap-stop: always;
}

.center {
	display: flex;
	align-items: center;
	justify-content: center;
}
