@use '@styles/func';
@use '@styles/mixins' as *;
@use '@styles/variables';

.root {
  position: absolute;
  width: 98vw;
  background-color: var(--color-accent-1-opacity30);
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  backdrop-filter: blur(4px);
  color: var(--color-white-default);

  overflow: hidden;

  @include tablet {
    overflow: visible;
  }

  // Override colors for fulfillment page
  body[data-page-theme="fulfillment"] & {
    --color-accent-1-opacity30: var(--fulfillment-color-accent-1-opacity30);
  }

  // Override colors for logistika page
  body[data-page-theme="logistika"] & {
    --color-accent-1-opacity30: var(--logistika-color-accent-1-opacity30);
  }
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.navigation {
  display: flex;
  gap: 80px;
  align-items: center;

  @include tablet {
    justify-content: flex-end;
    width: 100%;
  }
}

.social {
  @include tablet {
    display: none !important;
  }
}
