@use '@styles/func';
@use '@styles/mixins' as *;
@use '@styles/variables';

.root {
  position: relative;
  width: 100%;
  background-color: var(--color-additional);
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 32px;
  padding-bottom: 32px;
}

.navigation {
  display: flex;
  gap: 80px;
  align-items: center;

  @include tablet {
    justify-content: flex-end;
    width: 100%;
  }
}

.social {
  @include tablet {
    display: none !important;
  }
}
