@use '@styles/func';
@use '@styles/mixins' as *;
@use '@styles/variables';

.root {
  position: absolute;
  width: 98vw;
  background-color: var(--color-accent-2-opacity30);
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  backdrop-filter: blur(4px);
  border: 1px solid var(--color-accent-2);
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.navigation {
  display: flex;
  gap: 80px;
  align-items: center;

  @include tablet {
    justify-content: flex-end;
    width: 100%;
  }
}

.social {
  @include tablet {
    display: none !important;
  }
}
