.section {
  position:static;
  margin-bottom: 0px;

  padding: 100px 10px;
  overflow: hidden;
}

@media (min-width: 768px) {
  .section {
    padding: 100px 32px;
  }
}

@media (min-width: 1000px) {
  .section {
    padding: 100px 75px;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: flex-start;

  max-width: 355px;

  margin: 0 auto;
  position: relative;
  z-index: 100;
}

@media (min-width: 768px) {
  .wrapper {
    max-width: 704px;
  }
}

@media (min-width: 1000px) {
  .wrapper {
    max-width: 90%;
  }
}

@media (min-width: 1250px) {
  .wrapper {
    max-width: 1290px;
  }
}

.title {
  font-size: 26px;
  line-height: 132%;
  font-weight: 600;

  margin-bottom: 18px;

  will-change: opacity, transform;
}

@media (min-width: 768px) {
  .title {
    font-size: 32px;

    margin-bottom: 45px;
  }
}

@media (min-width: 1250px) {
  .title {
    font-size: 48px;
  }
}

.cardWrapper {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  gap: 0px;

  position: relative;

  height: 700px;
}

@media (min-width: 1000px) {
  .cardWrapper {
    flex-direction: row;
    height: auto;
  }
}

.card {
  display: flex;

  flex-direction: column;
  justify-content: center;
  gap: 32px;

  height: 100%;
  max-height: 385px;
  max-width: 355px;
  width: 100%;

  padding: 40px 24px;
  border-radius: 22px;

  background-color: #1A1A1A;

  color: #F5F1EE;

  will-change: opacity, transform;
}

@media (min-width: 1250px) {
  .card {
    max-width: 514px;
    max-height: none;

    height: auto;
  }
}

.cardOrange {
  margin: -90% 0 0;

  background: rgb(235, 72, 36);
  background: linear-gradient(180deg, rgba(235, 72, 36, 1) 0%, rgba(227, 133, 23, 1) 100%);
}

@media (min-width: 768px) {
  .cardOrange {
    margin: -50% 0 0 0;
  }
}

@media (min-width: 1000px) {
  .cardOrange {
    margin: 0 0 0 -5%;
  }
}

.cardWhite {
  margin: -90% 0 0;

  background: rgb(231, 231, 231);
  background: linear-gradient(90deg, rgba(231, 231, 231, 1) 0%, rgba(252, 252, 252, 1) 100%);

  color: #121212;
}

@media (min-width: 768px) {
  .cardWhite {
    margin: -50% 0 0 0;
  }
}

@media (min-width: 1000px) {
  .cardWhite {
    margin: 0 0 0 -5%;
  }
}

.cardTitle {
  margin-bottom: -16px;

  font-size: 20px;
  line-height: 150%;
  font-weight: 600;
}

.cardDescription {
  font-size: 14px;
  line-height: 150%;
  font-weight: 400;
}

.cardDescriptionSemibold {
  font-weight: 600;
}
