.root {
  display: inline-flex;
  align-items: center;
  justify-content: center;
	position: relative;
}

.svg {
  display: block;
}

.overlay {
	position: absolute;
	inset: 0;
	pointer-events: none;
}
